body {
    background-color: orange;
    height: 100%;
}

#wrapper {
    width: 1000px;
}

#wrapper .container {
        max-width: 100%;
        display: block;
}

#tabla .table {
    background-color: white;
    empty-cells: show;
}

#caja .well {
    float: center;
}

.boton-menu {
    color: white;
    font-size: 150%;
}

.boton-menusm {
    color: black;
    font-size: 110%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.logo {
    margin-left: 24px;
    width: 80%;
    height: 80%;
}

.dialog-codigo {
    margin-top: 120px;
}

#texto-bienvenido {
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 4px;
    font-size: 22px; 
    color: black;
    border-radius: 5px;
    /*margin-left: -15px;*/
}