body {
    background-color: orange;
    height: 100%;
}

#wrapper {
    width: 1000px;
}

#wrapper .container {
        max-width: 100%;
        display: block;
}

#tabla .table {
    background-color: white;
    empty-cells: show;
}

#caja .well {
    float: center;
}

.boton-menu {
    color: black;
    font-size: 150%;
}

.boton-menusm {
    color: black;
    font-size: 110%;
}
