<h2>Saldo Actual</h2>
<h3>${{ usuario.saldo|e }}</h3>

<h2>Saldo a Cargar</h2>
<form action="/cargarsaldo" method="post">
    <div id="form-saldo">
        <input type="text" class="form-control input-lg" name="saldo" placeholder="0.00">
    
    <table class="table-responsive pull-right" style="margin-top: -20px;">
        <tr>
            <td style="padding-right: 8px;"><button type="button" class="btn btn-lg btn-warning">Aceptar</button></td>
            <td><a href="/usuarios"><button type="button" class="btn btn-lg btn-info">Cancelar</button></href></td>
        </tr>
     </table>
   </div>
</form>