<div class="row-fluid">
    <div class="col-md-12"><img src="/static/newbanner.png" class="img-responsive"></div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
            <div class="btn-group" role="group">
                <a href="/"><button type="button" class="btn btn-info boton-menu">Menu</button></a>
            </div>
            <div class="btn-group" role="group">
                <a href="/usuario"><button type="button" class="btn btn-info boton-menu">Usuario</button></a>
            </div>
            <div class="btn-group" role="group">
                <a href="/logout"><button type="button" class="btn btn-info boton-menu">Salir</button></a>
            </div>
        </div>
        <div class="row-fluid">
            <div id="texto-bienvenido" class="col-md-12">
                <p><strong>Bienvenido {{usuario.nombre|e}}</strong></p>
            </div>
        </div>
    </div>
</div>