{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="container" style="background-color: white;">
        <div class="row-fluid">

            <div class="col-md-12"><img src="/static/newbanner.png" class="img-responsive"></div>
        </div>


        <div class="row-fluid">
            <div class="col-md-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
                    <div class="btn-group" role="group">
                       <a href="/"><button type="button" class="btn btn-info boton-menu">Menu</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="/usuario"><button type="button" class="btn btn-info boton-menu">Usuario</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="/logout"><button type="button" class="btn btn-info boton-menu">Salir</button></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid">
            <div class="col-sm-6">
                <h3>Productos</h3>
                <div id="tabla">
                    <table class="table table-responsive">
                        {% for producto in productos %}
                        {% if producto.disponible == true %}
                        <tr>
                            <td>{{ producto.nombre|e }}</td>
                            <td>${{ producto.precio|e }}</td>
                            <td><input type="checkbox" name="milanesa" value="milanesa"></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <h3>Productos Elegidos</h3>
                <div id="tabla">
                    <table class="table table-responsive">
                        <tr>
                            <td>Hamburguesa</td>
                            <td>$20</td>
                            <td><input type="checkbox" name="milanesa" value="milanesa"></td>
                        </tr>
                        <tr>
                            <td>Hamburguesa</td>
                            <td>$20</td>
                            <td><input type="checkbox" name="milanesa" value="milanesa"></td>
                        </tr>

                    </table>
                </div>

                <div id="caja">
                    <div class="well clearfix">
                        <h3>Total a pagar:</h3>
                        <p>$1200</p>

                        <h3>Saldo:</h3>
                        <p>$4000</p>
                        
                        <div id="boton-comprar">
                            <button type="button" class="btn btn-lg btn-warning pull-right">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="clearfix"></div>

            <div class="row-fluid">
                <div class="col-md-12"><img src="/static/footer.png" class="img-responsive"></div>
            </div>

        </div>
{% endblock %}