{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="container" style="background-color: white;">
         
        {% include 'header.html' %}

        <div class="row-fluid">
            <div class="col-sm-6">
                <h3>Productos</h3>
                <div id="tabla">
                    <table class="table table-responsive">
                        <tr>
                            <td><strong>Producto</strong></td>
                            <td><strong>Precio</strong></td>
                            <td><strong>Agregar</strong></td>
                        </tr>
                        {% for producto in productos %}
                        {% if producto.disponible == true %}
                        <tr>
                            <td>{{ producto.nombre|e }}</td>
                            <td>${{ producto.precio|e }}</td>
                            <td><button type="button" class="btn btn-info btn-sm" name="producto{{producto.id|e}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <h3>Productos Elegidos</h3>
                <div id="tabla2">
                    <table class="table table-responsive">
                        <tr>
                            <td><strong>Producto</strong></td>
                            <td><strong>Precio</strong></td>
                            <td><strong>Cancelar</strong></td>
                        </tr>
                    </table>
                </div>

                <div id="caja">
                    <div class="well clearfix">
                        <h3>Total a pagar:</h3>
                        <div id="total">
                            <p>$0</p>
                        </div>

                        <h3>Saldo:</h3>
                        <div id="saldo">
                            <p>${{ usuario.saldo|e }}</p>
                        </div>
                        
                        <div id="boton-comprar">
                            <button type="button" class="btn btn-lg btn-warning pull-right">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}

        </div>
        <script src="/static/menu.js"></script>
{% endblock %}