{% extends "base.html" %} {% block content %}
<div class="container" style="background-color: white;">

    {% include 'header-buffet.html' %}

    <div class="row-fluid">
        <div class="col-sm-6">
            <h3>Pendientes</h3>
            <div id="tabla_pendientes">
                <table class="table table-responsive">
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Producto</strong></td>
                        <td><strong>Precio</strong></td>
                        <td><strong>Horario</strong></td>
                        <td><strong>Entregar</strong></td>
                    </tr>
                    {% for pedido in pendientes %}
                    <tr>
                        <td>{{ pedido.nombre_usuario|e }}</td>
                        <td>{{ pedido.nombreProducto|e }}</td>
                        <td>${{ pedido.precio|e }}</td>
                        <td>{{ pedido.horario|e }}</td>
                        <td>
                            <button type="button" name={{ 'pedido' ~ pedido.id|e}} class="btn btn-success btn-sm">Listo</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-sm-6">
            <h3>Entregados</h3>
            
            <div id="tabla_entregados" class="table-responsive">
                <table class="table">
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Producto</strong></td>
                        <td><strong>Precio</strong></td>
                        <td><strong>Fecha</strong></td>
                        <td><strong>Borrar Entrega</strong></td>
                    </tr>
                    {% for pedido in entregados %}
                    <tr>
                        <td>{{ pedido.nombre_usuario|e }}</td>
                        <td>{{ pedido.nombreProducto|e }}</td>
                        <td>{{ pedido.precio|e }}</td>
                        <td>{{ pedido.hora_compra|e }}</td>
                        <td><button type="button" name={{ 'pedido' ~ pedido.id|e}} class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

        {% include 'footer.html' %}
        
        <script src="/static/pedidos.js"></script>

    </div>
    </body>
    {% endblock %}