{% extends "base.html" %}

{% block content %}
<div class="container" style="background-color: white;">
    
    {% include 'header.html' %}

    <div class="row-fluid">
        <div class="col-sm-6">
            <h3>Datos de Usuario</h3>
            <div id="tabla" class="table-responsive">
                <table class="table">
                    <tr>
                        <td><strong>Codigo</strong></td>
                        <td><strong>Nombre de Usuario</strong></td>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Saldo</strong></td>
                    </tr>
                    <tr>
                        <td>{{ usuario.codigo|e }}</td>
                        <td>{{ usuario.username|e }}</td>
                        <td>{{ usuario.nombre|e }}</td>
                        <td>{{ usuario.saldo|e }}</td>
                    </tr>
                </table>
            </div>

            <div id="caja">
                <div class="well clearfix">
                    <h4><strong>Cambiar Contraseña</strong></h4>
                    <br>
                    <form action="/cambiarpassword" method="post">
                        <input type="text" id="passOriginal" name="passOriginal" class="form-control" style="width: 60%;" placeholder="Contraseña" required>
                        <br>
                        <input type="text" id="passNueva" name="passNueva" class="form-control" style="width: 60%;" placeholder="Nueva Contraseña" required>
                        <br>
                        <input type="text" id="passNueva2" name="passNueva2" class="form-control" style="width: 60%;" placeholder="Confimar Contraseña" required>
                        <br>
                            <button id="boton-cambiar" type="button" class="btn btn-lg btn-warning pull-right">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3>Historial de Compras</h3>
            <div id="tabla">
                <table class="table table-responsive">
                    <tr>
                        <td><strong>Fecha</strong></td>
                        <td><strong>Producto</strong></td>
                        <td><strong>Precio</strong></td>
                    </tr>
                    {% for pedido in historial %}
                    <tr>
                        <td>{{ pedido.hora_compra|e }}</td>
                        <td>{{ pedido.nombreProducto|e }}</td>
                        <td>{{ pedido.precio|e }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        {% include 'footer.html' %}

    </div>
    <script src="/static/usuario.js"></script>
    {% endblock %}