{% extends "base.html" %}

{% block content %}
<div class="container" style="background-color: white;">
    <div class="row-fluid">

        <div class="col-md-12"><img src="/static/newbanner.png" class="img-responsive"></div>
    </div>


    <div class="row-fluid">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
                <div class="btn-group" role="group">
                    <a href="/"><button type="button" class="btn btn-info boton-menu">Menu</button></a>
                </div>
                <div class="btn-group" role="group">
                    <a href="/usuario"><button type="button" class="btn btn-info boton-menu">Usuario</button></a>
                </div>
                <div class="btn-group" role="group">
                    <a href="/logout"><button type="button" class="btn btn-info boton-menu">Salir</button></a>
                </div>
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="col-sm-6">
            <h3>Datos de Usuario</h3>
            <div id="tabla">
                <table class="table table-responsive">
                    <tr>
                        <td><strong>Codigo</strong></td>
                        <td><strong>Nombre de Usuario</strong></td>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Apellido</strong></td>
                        <td><strong>Saldo</strong></td>
                    </tr>
                    <tr>
                        <td>{{ usuario.id|e }}</td>
                        <td>{{ usuario.username|e }}</td>
                        <td>{{ usuario.nombre|e }}</td>
                        <td>{{ usuario.apellido|e }}</td>
                        <td>{{ usuario.saldo|e }}</td>
                    </tr>
                </table>
            </div>

            <div id="caja">
                <div class="well clearfix">
                    <h4><strong>Cambiar Contraseña</strong></h4>
                    <br>
                    <form action="post">
                        <input type="text" name="usuario" class="form-control" style="width: 60%;" placeholder="Contraseña" required>
                        <br>
                        <input type="text" name="usuario" class="form-control" style="width: 60%;" placeholder="Nueva Contraseña" required>
                        <br>
                        <input type="text" name="usuario" class="form-control" style="width: 60%;" placeholder="Confimar Contraseña" required>
                        <br>
                        <div id="boton-comprar">
                            <button type="button" class="btn btn-lg btn-warning pull-right">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3>Historial de Compras</h3>
            <div id="tabla">
                <table class="table table-responsive">
                    <tr>
                        <td><strong>Fecha</strong></td>
                        <td><strong>Producto</strong></td>
                        <td><strong>Cantidad</strong></td>
                        <td><strong>Precio Total</strong></td>
                    </tr>
                    <tr>
                        <td>4/5/2016</td>
                        <td>Hamburguesa</td>
                        <td>2</td>
                        <td>$60</td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row-fluid">
            <div class="col-md-12"><img src="footer.png" class="img-responsive"></div>
        </div>

    </div>
    {% endblock %}