{% extends "base.html" %} {% block content %}
<div class="container" style="background-color: white;">

    {% include 'header-buffet.html' %}

    <div class="row-fluid">
        <div class="col-sm-7">
            <h3>Usuarios</h3>
            <div id="tabla">
                <table class="table table-responsive">
                    <tr>
                        <td><strong>Codigo</strong></td>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Saldo</strong></td>
                        <td><strong>Ultima Compra</strong></td>
                        <td><strong>Carga</strong></td>
                        <td><strong>Pedido</strong></td>
                    </tr>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id|e }}</td>
                        <td>{{ usuario.nombre|e}} {{usuario.apellido|e}}</td>
                        <td>${{ usuario.saldo|e }}</td>
                        <td>{{ usuario.ultimaCompra|date("d/m/Y") }}</td>
                        <td><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></button></td>
                        {% if usuario.activo == true %}
                        <td><button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></button></td>
                        {% else %}
                        <td><button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-sm-5">
            <h3>Codigos Emitidos</h3>
            <div id="tabla">
                <table class="table table-responsive">
                    <tr>
                        <td><strong>Codigo</strong></td>
                        <td><strong>Emitido</strong></td>
                        <td><strong>Cancelar</strong></td>
                    </tr>
                    {% for codigo in codigos %}
                    <tr>
                        <td>{{ codigo.codigo|e }}</td>
                        <td>{{ codigo.emision|e }}</td>
                        <td><button type="button" name="codigo" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <h4>Generar Codigo</h4>
            <table class="table table-responsive">
                <div id="boton-codigo">
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
            </table>
        </div>

        {% include 'footer.html' %}

    </div>
    <script src="/static/usuarios.js"></script>
    </body>
    {% endblock %}